[submodule "tpm"]
	path = deps/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "vim-plug"]
	path = deps/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "deps/zplug"]
	path = deps/zplug
	url = https://github.com/zplug/zplug
[submodule "nerd-font-cheatsheets"]
	path = nerd-font-cheatsheets
	url = https://github.com/just3ws/nerd-font-cheatsheets
