[submodule ".vim/bundle/vim-tmux"]
	path = .vim/bundle/vim-tmux
	url = https://github.com/tmux-plugins/vim-tmux.git
[submodule ".antigen/repos/https-COLON--SLASH--SLASH-github.com-SLASH-chrissicool-SLASH-zsh-bash.git"]
	path = .antigen/repos/https-COLON--SLASH--SLASH-github.com-SLASH-chrissicool-SLASH-zsh-bash.git
	url = https://github.com/chrissicool/zsh-bash.git
[submodule ".antigen/repos/https-COLON--SLASH--SLASH-gist.github.com-SLASH-3712874.git"]
	path = .antigen/repos/https-COLON--SLASH--SLASH-gist.github.com-SLASH-3712874.git
	url = https://gist.github.com/3712874.git
[submodule ".antigen/repos/https-COLON--SLASH--SLASH-github.com-SLASH-rupa-SLASH-z.git"]
	path = .antigen/repos/https-COLON--SLASH--SLASH-github.com-SLASH-rupa-SLASH-z.git
	url = https://github.com/rupa/z.git
[submodule ".antigen/repos/https-COLON--SLASH--SLASH-github.com-SLASH-unixorn-SLASH-autoupdate-antigen.zshplugin.git"]
	path = .antigen/repos/https-COLON--SLASH--SLASH-github.com-SLASH-unixorn-SLASH-autoupdate-antigen.zshplugin.git
	url = https://github.com/unixorn/autoupdate-antigen.zshplugin.git
[submodule ".antigen/repos/https-COLON--SLASH--SLASH-github.com-SLASH-zsh-users-SLASH-zsh-history-substring-search.git"]
	path = .antigen/repos/https-COLON--SLASH--SLASH-github.com-SLASH-zsh-users-SLASH-zsh-history-substring-search.git
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule ".antigen/repos/https-COLON--SLASH--SLASH-github.com-SLASH-zsh-users-SLASH-zsh-completions.git"]
	path = .antigen/repos/https-COLON--SLASH--SLASH-github.com-SLASH-zsh-users-SLASH-zsh-completions.git
	url = https://github.com/zsh-users/zsh-completions.git
[submodule ".antigen/repos/https-COLON--SLASH--SLASH-github.com-SLASH-jdavis-SLASH-zsh-files.git"]
	path = .antigen/repos/https-COLON--SLASH--SLASH-github.com-SLASH-jdavis-SLASH-zsh-files.git
	url = https://github.com/jdavis/zsh-files.git
[submodule ".antigen/repos/https-COLON--SLASH--SLASH-github.com-SLASH-zsh-users-SLASH-zsh-syntax-highlighting.git"]
	path = .antigen/repos/https-COLON--SLASH--SLASH-github.com-SLASH-zsh-users-SLASH-zsh-syntax-highlighting.git
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".antigen/repos/https-COLON--SLASH--SLASH-github.com-SLASH-robbyrussell-SLASH-oh-my-zsh.git"]
	path = .antigen/repos/https-COLON--SLASH--SLASH-github.com-SLASH-robbyrussell-SLASH-oh-my-zsh.git
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".vim/bundle/L9"]
	path = .vim/bundle/L9
	url = https://github.com/vim-scripts/L9.git
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule ".vim/bundle/gitdiff.vim"]
	path = .vim/bundle/gitdiff.vim
	url = https://github.com/vim-scripts/gitdiff.vim.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-selinux"]
	path = .vim/bundle/vim-selinux
	url = https://github.com/lzap/vim-selinux.git
[submodule ".vim/bundle/vim-tmux-navigator"]
	path = .vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
