[user]
    name = Allison Wampler
    email = aping1@apt-miss.com
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
	page = vim -R
[merge]
	tool = vimdiff
[mergetool]
	prompt = true
    conflictstyle = diff3
	keepBackup = false
[mergetool "fugitive"]
    cmd = vim -f -c "Gdiff" "$MERGED"
[mergetool "vimdiff"]
	cmd = vim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[difftool]
	prompt = true
[diff]
	tool = vimdiff
[difftool]
    prompt = false
    conflictstyle = diff3
    tool = vimdiff
[color]
	pager = no
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	default = matching
