PyYAML==5.3.1
Pygments==2.5.2
ansicolor==0.2.6
appdirs
attrs
black
black
bypy
certifi==2019.9.11
chardet
click
dill
flake8
greenlet
jedi
mccabe
msgpack
multiprocess
neovim
parso<0.8.0,>=0.7.0
pathspec
pycodestyle
pyflakes
pynvim
regex>=2020.7.14
requests
requests-toolbelt
six
toml
typed-ast
urllib3
zipp
